@import url('https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700');
@font-face {
    font-family: "MariageAntD";
    font-style: normal;
    font-weight: normal;
    src: url("assets/mariageantd.ttf") ;
}
body
{
    width: 1200px;
    margin: 0 auto;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;
    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;
    border: 1px solid;

    text-align: center;
}

.header__weather
{
    float: right;
    width: 200px;
}

.header__weather-title
{
    margin: 0;
    text-align: center;
    font: bold 117% "SpaceMono", monospace;
}

.header__weather-text
{
    margin: 0;

    text-align: justify;
    font: 80% "SpaceMono";
    line-height: 1.1;
}

.header__title
{
    margin: 0;
    overflow: visible;

    font-family: 'MariageAntD', fantasy;
    font-size: 6.6em;
    text-align: center;
}



/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;

    margin: 0 30px;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    margin-top: 0;
    margin-bottom: 10px;

    font: bold 320% "Six Caps", sans-serif;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: justify;
    text-indent: 2ch;
    font-size: 80%;
    font-style: oblique;
}

.article__author
{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    font-size: 80%;
    text-align: center;
}


.article__continue
{
    display: block;
    text-align: center;
    font-size: 80%;
    font-style: oblique;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}
.article_columns_two .article__author,
.article .article__continue {
    column-span: all;
}

.article__subtitle
{
    margin: 10px 0;
    text-align: center;
}
.article__content
{
    font-size: 80%;
    text-indent: 2ch;
    text-align: justify;
}
/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__title
{
    margin: 0;


}
.article__subtitle, .main-photo__title{
  font: bold 117% "Times New Roman", serif;
}

.main-photo__desc
{
    margin-bottom: 20px;
    font-size: 0.8rem;
}
.main-photo__caption
{
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: right;
}
/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
}
.multicolumn__right .article__continue{
  margin-top: -16px
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}
.article__title_font_farsan
{
    font: bold 200% "Farsan", cursive;
}

.article__title_font_racing
{
    font: bold 200% "Racing Sans One", cursive;
}
.article_columns_two .article__content {
    column-count: 2;
    column-gap: 15px;
    font-size: 80%;
    text-indent: 2ch;
    text-align: justify;
}
.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}
.
.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
